:root {
    --text-header: #ffffff;
    --text-menu: #ffffff;
    --text-filter: #66c2ff;
    --text-filter-type: #ffcc00;
    --text-body: #ffffff;
    --text-list-game-name: #ffcc00;
    --text-footer-link: #ffffff;

    --text-game-title: #ffcc00;
    --text-game-players: #ffffff;
    --text-game-obj: #66c2ff;
    --text-game-details-link: #ffcc00;

    --bg-header: #111111;
    --bg-widget: #404040;
    --bg-menu: rgba(64, 64, 64, 0.85);
    --bg-option: rgb(255, 255, 255, 0.50);
    --bg-selected: rgb(27, 27, 27, 0.70);
    --bg-filter: #404040;
    --bg-body: #1e1e1e;
    --bg-list: #303030;
    --bg-footer: #191919;

    --bg-game: #2a2a3a;
    --bg-game-doc: #303030;
    --bg-game-tag: #404040;

    --outline-menu: #ffffff;
    --outline-option: #ffffff;
}

html[data-theme="light"] {
    --text-header: #000000;
    --text-menu: #404040;
    --text-filter: #00a0ae;
    --text-filter-type: #694909;
    --text-body: #000000;
    --text-list-game-name: #00a0ae;
    --text-footer-link: #000000;

    --text-game-title: #00a0ae;
    --text-game-players: #694909;
    --text-game-obj: #000000;
    --text-game-details-link: #0066cc;

    --bg-header: #c1eef4;
    --bg-widget: #c8c8fa;
    --bg-menu: rgb(225, 225, 255, 0.85);
    --bg-option: rgb(255, 255, 255, 0.50);
    --bg-selected: rgb(193, 238, 244, 0.90);
    --bg-filter: #e1e1ff;
    --bg-body: #f5f6f5;
    --bg-list: #e1e1ff;
    --bg-footer: #d5eef1;

    --bg-game: #e7e7ff;
    --bg-game-doc: #e0e0e0;
    --bg-game-tag: #e0e0e0;

    --outline-menu: #404040;
    --outline-option: #404040;
}


html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg-body);
    color: var(--text-body);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--bg-header);
    padding: 20px;
    display: flex;
    max-height: 200px;
}

.header-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.l {
    height: 100%;
    justify-content: left;
    font-family: "Brush Script MT";
    font-size: 48px;
}

.top {
    height: auto;
}

.header-section a {
    color: var(--text-header);
    text-decoration: none;
}

.header-section a:hover {
    opacity: 0.7;
}

.logo {
    max-height: 256px;
    max-width: 256px;
    justify-content: center;
}

#settings-widget {
    position: fixed;
    top: 1rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    background: var(--bg-widget);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
}

#settings-widget:hover {
    background: #606060;
}

.widget {
    max-width: 65%;
    max-height: 65%;
}

#theme-menu {
    position: fixed;
    top: 4.5rem;
    right: 1.5rem;
    background: var(--bg-menu);
    color: var(--text-menu);
    border: 2px solid var(--outline-menu);
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    display: none;
    min-width: 150px;
}

.theme-option {
    background: var(--bg-option);
    border: 2px solid var(--outline-option);
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.theme-option:hover {
    --icon-gear: url('https://drive.google.com/thumbnail?id=1rBIFIHS6gNQZruQ8dkcDWM_WRMt21pDY');
    --icon-sun: url('https://drive.google.com/thumbnail?id=103-lRpj6jJE9XIHITxEwove9gA595slu');
    --icon-moon: url('https://drive.google.com/thumbnail?id=1lDqz6Hcy5ao06afX9yZ5DzcRKVP55IVz');
    color: #ffffff;
    background: rgba(0, 0, 0.05);
}

.theme-option.selected {
    color: var(--text-selected);
    font-weight: bold;
    background: var(--bg-selected);
}

.theme-option-symbol {
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 6px;
}

.filters {
    background: var(--bg-filter);
    margin: 5px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-radius: 10px;
}

.filters span {
    color: var(--text-filter);
    font-size: 16px;
    margin-left: 10px;
}

.filter-item input::placeholder {
    color: var(--text-filter);
}

.filter {
    background: var(--bg-filter);
    color: var(--text-filter-type);
    font-weight: bold;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    min-height: 20px;
}

.home-page-container {
    flex: 1;
    margin: 5px;
}

.games-list {
    margin-block-start: 0;
    list-style-type: none;
    padding: 0;
}

.games-list li {
    background: var(--bg-list);
    margin: 4px;
    padding: 10px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.games-list-elem {
    flex: 1;
    width: auto;
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
}

.games-list-eleml {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: right;
    height: 350px;
}

.games-list-elem-img {
    max-height: 350px;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}


.games-list-elem img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    border-radius: 5px;
    border: 5px, solid #000000;
}


.games-list-elem a {
    color: var(--text-list-game-name);
    font-size: 48px;
    text-decoration: none;
    text-align: left;
    align-items: center;
}

.games-list-elem a:hover {
    opacity: 0.5;
}

.game-page-container {
    width: 95%;
    margin: auto;
    background: var(--bg-game);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.game {
    display: flex;
    align-items: center;
    gap: 20px;
}


.poster-container {
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    width: 100%;
    max-width: 580px;
    max-height: 580px;
    object-fit: cover;
    border-radius: 10px;
    border: 8px solid #000000;
}

.game-details {
    flex: 1;
    max-width: 50%;
    margin-left: 10px;
}

.game-details h2 {
    color: var(--text-game-title);
    font-size: 48px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.game-details h3 {
    color: var(--text-game-players);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.game-details h4 {
    color: var(--text-game-obj);
    font-size: 26px;
    padding: 3px;
    margin-top: 15px;
    margin-bottom: 3px;
}

.game-details a {
    color: var(--text-game-details-link);
    font-size: 20px;
    text-decoration: underline;
}

.game-details p {
    padding-left: 20px;
}

.documents-list {
    list-style-type: none;
    padding: 0;
}

.documents-list li {
    background: var(--bg-game-doc);
    border-radius: 3px;
    width: 100%;
    margin-left: 10px;
    padding-left: 5px;
}

.document {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 5px;
    padding: 3px;
}

.document a {
    width: 40%;
}

.document-item {
    width: auto;
    margin: 3px;
}

.tags {
    margin-left: 20px;
    margin-top: 10px;
    flex: 1;
    display: fles;
}

.tags span {
    background: var(--bg-game-tag);
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 2px;
    border-radius: 5px;
}

footer {
    background: var(--bg-footer);
    display: flex;
}

.f {
    height: 160px;
    align-items: center;
    justify-items: center;
}

.footer-section {
    flex: 1;
    display: flex;
    justify-content: center
}

.left,
.right {
    display: flex;
}

.left {
    justify-content: right;
    padding-right: 20px;
}

.right {
    justify-content: left;
    padding-left: 20px;
}

.center {
    flex: 0;
    text-align: center;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.6;
}

.footer-text a {
    color: var(--text-footer-link);
    text-decoration: underline;
}

.icon img:hover,
.footer-text a:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {

    .header-section,
    .footer-section,
    .header-section,
    .filters,
    .game,
    .games-list,
    .games-list-elem,
    .game-details h2,
    .document-item,
    .document,
    header,
    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .games-list-elem-img {
        padding-top: 10px;
    }

    .games-list-elem-img img {
        max-height: 320px;
        max-width: 320px;
        height: 100%;
        width: 90%;
    }

    .f,
    footer {
        height: auto;
        padding: 5px;
    }

    .left,
    .right,
    .l,
    .document-item,
    .games-list-elem,
    .game-details p,
    .game-details h2 {
        padding: 0px;
    }

    .filter-item,
    .filter {
        width: 90%;
    }

    .filters {
        padding-bottom: 5px;
        width: 70%;
    }

    .tags,
    .game-details,
    .document,
    .documents-list li {
        padding: 0px;
        margin-left: 0;
        margin-right: 0;
    }

    .games-list-elem a {
        text-align: center;
        margin-top: 10px;
    }

    .filters span {
        margin-top: 5px;
    }

    .icon {
        max-width: 100%;
    }

    .logo {
        max-height: 128px;
    }
}