html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #111111;
    padding: 20px;
    display: flex;
}

.header-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.l {
    height: 100%;
    align-items: top;
    justify-content: left;
    font-family: "Brush Script MT";
    font-size: 48px;
}

.header-section a {
    color: #ffffff;
    text-decoration: none;
}

.header-section a:hover {
    opacity: 0.7;
}

.logo {
    max-height: 256px;
    max-width: 256px;
    justify-content: center;
}

.container {
    flex: 1;
    margin: 5px;
}

.gl {
    list-style-type: none;
    padding: 0;
}

.gl li {
    background: #303030;
    margin: 2px;
    padding: 10px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.gli {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gl-img {
    flex: 1;
    width: auto;
    max-width: 40%;
    display: flex;
    min-height: 100px;
}

.gli img {
    max-width: 200px;
    max-height: 200px;
    object-fit: scale-down;
    border-radius: 5px;
    border: 5px, solid black;
}

footer {
    background: #191919;
    display: flex;
}

.f {
    height: 200px;
    align-items: center;
    justify-items: center;
}

.footer-section {
    flex: 1;
    display: flex;
    justify-content: center
}

.left, .right {
    display: flex;
}

.left {
    justify-content: right;
    padding-right: 20px;
}

.right {
    justify-content: left;
    padding-left: 20px;
}

.center {
    flex: 0;
    text-align: center;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-text {
    font-size: 16px;
    line-height: 1.6;
}

.footer-text a {
    color: #ffffff;
    text-decoration: underline;
}

.icon img {
    max-width: 64px;
    max-height: 64px;
    transition: all, 0.3s, ease;
}

.icon img {
    max-width: 64px;
    max-height: 64px;
    transition: all, 0.3s, ease;
}

.icon img:hover, .footer-text a:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .header-section, .footer-section, .header-section, .gl, .gli, header, footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .f, footer {
        height: auto;
        padding: 5px;
    }

    .left, .right, .l {
        padding: 0px
    }

    .icon {
        max-width: 100%;
    }

    .logo {
        max-height: 128px;
    }
}